@font-face {
  font-family: "Waxwing";
  src: url("../fonts/waxwing.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: "Helvetica Neue";
  font-size: 14px;
  letter-spacing: 0.01em;
  font-weight: normal;
  background: lemonchiffon;
}

body {
  margin: 7em 1.5em;
}

body.day {
  background: lemonchiffon;
}

body.night {
  background: lightcyan;
}

img {
  max-width: 100%;
}

pre,
code {
  font-family: "Waxwing", monospace;
}

main {
  text-align: center;
}

h1 {
  font-weight: normal;
  font-size: 1em;
  margin-top: 0;
}

figure#logo {
  max-width: 450px;
  margin: 3.65em auto 3.75em;
}
