:root {
  /* --bg-color: #e6f1e0; */
  /* --bg-color: #e4f2dc; */
  /* --bg-color: #F1FCE8; */
  --bg-color: #eafede;
  /* --bg-color: #e4ffd3; */
}

html, body.twenty-six {
  background-color: var(--bg-color) !important;
}

.twenty-six {
  background-color: var(--bg-color) !important;
}

/* body {
  padding: 5em 1.5em;
} */

nav#soon {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

nav#soon a {
  height: 1.5em;
  width: 1.5em;
  display: block;
  border-radius: 50%;
  mix-blend-mode: multiply;
  background-color: #eee;
  border: 1px solid #eee;
}

nav#soon a:hover {
  background-color: #aaa;
}

nav#soon a.filled {
  background-color: #aaa;
}

.button-grid a.class-button .title {
  height: auto;
  width: auto;
}

.class-button {
  position: relative;
  overflow: visible;
}

a.class-button .label {
  font-family: "Courier New", Courier, monospace !important;
  font-size: 15px;
  position: absolute;
  left: 1em;
  bottom: 2em;
  transform: rotate(-20deg);
}

a.class-button .label.two {
  right: 2.5em;
  left: auto;
  bottom: 5.5em;
  bottom: 7.5em;
  bottom: 2em;
  right: 1.5em;
  transform: rotate(18deg);
}

nav#info a {
  color: black;
}

.twenty-five {
  background: var(--global-color);
}

.twenty-six-twenty-five {
  background: linear-gradient(
    rgba(238, 254, 225, 1),
    rgba(255, 250, 205, 1)
    50%);
  height: 45vh;
}

.twenty-five a.transmission-snippet:first-of-type article {
  margin-top: 0;
}

body.mailing-list {
  padding-left: 0;
  padding-right: 0;
}

body.mailing-list .inside {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 3em;
  padding-top: 3em;
}

.twenty-six.inside a.transmission-snippet article {
  background: rgba(238, 254, 225, 1);
  background: rgba(0, 0, 0, 0.05);
}

.twenty-six.inside a.transmission-snippet article::after {
    background: linear-gradient(rgba(238, 254, 225, 0), rgba(238, 254, 225, 1) 60%);
}

sup.shimmer {
  font-family: monospace; font-size: 20px; letter-spacing: 0.01em; padding-left: 0.15em; vertical-align: 3px;
}

.shimmer {
   font-size: 18px;
   /* vertical-align: -1px; */
}

@media screen and (max-width: 775px) {
  sup.shimmer {
    font-size: 16px;
    vertical-align: 1px;
  }
  .shimmer {
    font-size: 16px;
  }
}